* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #eef3f8;
  color: #1f2933;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #0f2a44;
  color: white;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  background: linear-gradient(135deg, #0f2a44, #3b5d7a);
  color: white;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h2 {
  font-size: 2.5rem;
}

.role {
  color: #a8c6df;
  font-weight: bold;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #4ea3d8;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.hero-img img {
  width: 280px;
  border-radius: 50%;
  border: 5px solid #a8c6df;
}

/* SECTIONS */
.section {
  padding: 70px 10%;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #0f2a44;
}

.grey {
  background: #dfe7ef;
}

/* ABOUT */
.about-box {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.about-box img {
  width: 250px;
  border-radius: 15px;
}

/* EXPERIENCE */
.exp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.exp-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* PROJECTS */
.project-slider {
  display: flex;
  gap: 20px;
  animation: move 20s linear infinite;
}

.project-card {
  min-width: 280px;
  padding: 40px;
  background: #0f2a44;
  color: white;
  border-radius: 15px;
  text-align: center;
}

@keyframes move {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* FOOTER */
footer {
  background: #0f2a44;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero-img {
    margin-top: 30px;
  }
}
